.hl0	{ background-color: #FFFF99 }
.hl1	{ background-color: #FF99FF }
.hl2	{ background-color: #99FFFF }
.hl3	{ background-color: #FF9999 }
.hl4	{ background-color: #9999FF }
#sehlalertbox	{ margin: 0 auto; background-color: #CCC; border: 1px dotted #999; padding: 1em; width: 29.25em; text-align: left }